:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: fixed;
  z-index: 2;
  display: flex;
}

.mat-toolbar {
  background-color: #007bff !important;
}

.toolbar > button {
  color: #fff;
}

.toolbar > span {
  margin-left: 16px;
}

.container {
  flex: 1 auto;
}

.content {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
  color: #000;
  background: #fff;
}

main {
  margin-top: 64px;
  flex: 1 auto;
}
