<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="Toggle menu" (click)="toggleMatSidenav()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>
    <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp; </i>
    <strong style="font-size: 30px;">ApnaKart</strong>
  </span>

  <span class="form-group">
    <input type="text" class="form-control" placeholder="search products" />
    <i class="fa-solid fa-magnifying-glass"></i>
  </span>

  <span class="material-icons right">shopping_cart</span>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav [(opened)]="matSidenavOpened" fixedTopGap="64" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item href="https://liveloveapp.com" target="_blank"
        >Learn More about LiveLoveApp</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-apna-cart-footer></app-apna-cart-footer>
