<!-- <mat-toolbar class="toolbar">
  <div fxLayout="row" fxLayoutGap="20">
    <div fxFlex="10">
      <button
        mat-icon-button
        aria-label="Toggle menu"
        (click)="toggleMatSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex="40">
      <span>
        <i style="font-size: 20px;" class="fas fa-shipping-fast">&nbsp; </i>
        <strong style="font-size: 20px;">ApnaKart</strong>
      </span>
    </div>

    <div fxFlex="90">
      <div>
        <input class="seachbox" type="text" placeholder="search products" />
        <i class="fa-solid fa-magnifying-glass icon"></i>
      </div>
    </div>
    <div fxFlex="10" fxLayoutAlign="end">
      <i style="font-size: 20px;" class="fas fa-shopping-cart right"></i>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav [(opened)]="matSidenavOpened" fixedTopGap="64" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item href="https://liveloveapp.com" target="_blank"
        >Learn More about LiveLoveApp</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-apna-cart-footer></app-apna-cart-footer> -->

<div fxLayout="column" fxFlexFill>
  <mat-toolbar
    class="navbar-color mat-elevation-z8 p-0"
    fxLayout="row"
    fxLayoutAlign="start stretch"
    style="z-index: 2"
  >
    <button fxShow="false" fxShow.sm mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <button mat-button routerLink="/home" routerLinkActive="router-link-active">
      <mat-icon>home</mat-icon>
    </button>

    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
      class="pl-3"
    >
      <span fxHide fxShow.xs>FX: XS</span>
      <span fxHide fxShow.sm>FX: SM</span>
      <span fxHide fxShow.md>FX: MD</span>
      <span fxHide fxShow.lg>FX: LG</span>
      <span fxHide fxShow.xl>FX: XL</span>
    </div>

    <span fxFlex></span>

    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button
        mat-button
        routerLink="/home"
        routerLinkActive="router-link-active no-border"
      >
        Page 1
      </button>
      <button
        mat-button
        routerLink="/page2"
        routerLinkActive="router-link-active no-border"
      >
        Page 2
      </button>
      <button
        mat-button
        routerLink="/page3"
        routerLinkActive="router-link-active no-border"
      >
        Page 3
      </button>
      <button
        mat-button
        routerLink="/page4"
        routerLinkActive="router-link-active no-border"
      >
        Page 4
      </button>
      <button
        mat-button
        routerLink="/page5"
        routerLinkActive="router-link-active no-border"
      >
        Page 5
      </button>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex fxShow.sm fxShow="false" autosize class="backround">
    <mat-drawer #drawer>
      <div fxLayout="column">
        <button
          mat-button
          routerLink="/page1"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_1</mat-icon>Page 1
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page2"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_2</mat-icon>Page 2
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page3"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_3</mat-icon>Page 3
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page4"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_4</mat-icon>Page 4
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page5"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_5</mat-icon>Page 5
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-drawer>

    <!--PAGES-->
    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
