<div class="container">
  <div fxLayout="column" fxLayoutGap="20" style="margin-top:30px">
    <div
      fxLayout="row"
      fxLayoutGap="20"
      style="border-bottom: 1px solid;padding-bottom: 10px;"
    >
      <div fxFlex="20" class="border header__heading">
        <a routerLink="/home">
          <span>
            <img
              srcset="
                //cdn.shopify.com/s/files/1/0598/0572/8790/files/Group_5612_100x.png?v=1645059972    1x,
                //cdn.shopify.com/s/files/1/0598/0572/8790/files/Group_5612_100x@2x.png?v=1645059972 2x
              "
              src="//cdn.shopify.com/s/files/1/0598/0572/8790/files/Group_5612_100x.png?v=1645059972"
              loading="lazy"
              class="header__heading-logo"
              width="697"
              height="264"
              alt="Taste"
            />
          </span>
        </a>
      </div>
      <div fxFlex="50" fxLayoutAlign="end">
        <!-- <ng-container>
              <ng-container>
                <button
                  class="button font-style"
                  #button
                  mat-button
                  style="z-index: 1050"
                  #menuTrigger1="matMenuTrigger"
                  (mouseover)="openMyMenu(menuTrigger1)"
                  [matMenuTriggerFor]="myMenu1"
                >
                  Products
                </button>
                <button class="button" #button mat-button style="z-index: 1050">
                  About us
                </button>
                <button class="button" #button mat-button style="z-index: 1050">
                  Blog
                </button>
                <button class="button" #button mat-button style="z-index: 1050">
                  Contact Us
                </button>
              
                <mat-menu #myMenu1="matMenu" direction="down" yPosition="below">
                  <ng-container>
                    <li class="p-0" mat-menu-item>
                      <a class="nav-link" routerLink="/productList/electronics"
                        >Electronis
                      </a>
                    </li>
                    <li class="p-0" mat-menu-item>
                      <a class="nav-link" routerLink="/productList/men's clothing"
                        >Clothings
                      </a>
                    </li>
                  </ng-container>
                </mat-menu>
              </ng-container>
              </ng-container> -->
        <div fxLayout="row" fxFlex="100" fxLayoutGap="20">
          <div fxFlex="10">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <!-- pass local reference of mat-menu to be opened on this click -->
              <span class="font-style">Drinks</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
          <div fxFlex="10">
            <button mat-icon-button>
              <!-- pass local reference of mat-menu to be opened on this click -->
              <span class="font-style">Blog</span>
            </button>
          </div>
          <div fxFlex="10">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <!-- pass local reference of mat-menu to be opened on this click -->
              <span class="font-style">About</span>
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </div>
        </div>
        <mat-menu #menu="matMenu">
          <div fxLayout="column">
            <div>
              <button mat-button routerLink="/productList/electronics">
                Basic
              </button>
            </div>

            <div>
              <button mat-button>Basic1</button>
            </div>
          </div>
          <!-- give local reference and tell this is manu by assigning 'matMenu' -->
          <!-- <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button> -->

          <!-- <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button> -->
        </mat-menu>
      </div>
      <div fxFlex="30" fxLayoutAlign="end" fxLayoutGap="15" class="border">
        <span style="inline-block">
          <mat-icon>search</mat-icon>
        </span>

        <span>&#124;</span>

        <span>
          <a href="#" class="notification">
            <mat-icon class="font-size: 2em;">favorite_border</mat-icon>
            <span class="badge">99</span>
          </a>
        </span>

        <span>&#124;</span>

        <a href="#" class="notification">
          <mat-icon class="font-size: 2em;">shopping_cart</mat-icon>
          <span class="badge">99</span>
        </a>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
