<!-- <mat-toolbar class="toolbar">
  <div fxLayout="row" fxLayoutGap="20">
    <div fxFlex="10">
      <button
        mat-icon-button
        aria-label="Toggle menu"
        (click)="toggleMatSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex="40">
      <span>
        <i style="font-size: 20px;" class="fas fa-shipping-fast">&nbsp; </i>
        <strong style="font-size: 20px;">ApnaKart</strong>
      </span>
    </div>

    <div fxFlex="90">
      <div>
        <input class="seachbox" type="text" placeholder="search products" />
        <i class="fa-solid fa-magnifying-glass icon"></i>
      </div>
    </div>
    <div fxFlex="10" fxLayoutAlign="end">
      <i style="font-size: 20px;" class="fas fa-shopping-cart right"></i>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav [(opened)]="matSidenavOpened" fixedTopGap="64" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item href="https://liveloveapp.com" target="_blank"
        >Learn More about LiveLoveApp</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-apna-cart-footer></app-apna-cart-footer> -->
<!-- 
fxLayoutAlign="start stretch"
    style="z-index: 2" -->
sss
<div fxLayout="column" fxFlexFill>
  <mat-toolbar class="navbar-color mat-elevation-z8 p-0" fxLayout="column">
    <div fxLayout="row" style="width:100%" fxLayoutGap="20">
      <div fxFlex="50" fxShow="false" fxShow.sm fxShow.xs>
        <button mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxFlex="10">
        <button
          mat-button
          routerLink="/home"
          routerLinkActive="router-link-active"
        >
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <div fxFlex="90" fxLayoutGap="20">
        <span fxFlex="10">
          <i class="fas fa-shipping-fast">&nbsp; </i>
          <strong>ApnaKart</strong>
        </span>
        <span fxFlex="90">
          <input
            class="seachbox"
            type="text"
            placeholder="search products for brands and more"
          />
          <i class="fa-solid fa-magnifying-glass icon"></i>
        </span>
      </div>

      <div fxFlex="10" fxLayoutAlign="end">
        <i style="font-size: 20px;" class="fas fa-shopping-cart right"></i>
      </div>
    </div>
  </mat-toolbar>

  <div
    fxLayout="row"
    style="width:100%"
    fxLayoutAlign="center stretch"
    fxShow="false"
    fxShow.gt-sm
    style="border: 1px solid;padding: 10px;"
  >
    <div fxFlex="5" style="text-align: center;cursor: pointer;">
      <a
        routerLink="/home"
        routerLinkActive="selected no-border txt-bold"
        class="img"
        fxLayout="column"
        fxLayoutAlign="center stretch"
      >
        <div>
          <img
            class="img"
            src="https://rukminim1.flixcart.com/flap/128/128/image/29327f40e9c4d26b.png?q=100"
          />
        </div>
        <div class="img-content" style=":hover {background: yellow}">
          Grocery
        </div>
      </a>
    </div>

    <div fxFlex="5" style="text-align: center;cursor: pointer;">
      <a class="img" fxLayout="column" fxLayoutAlign="center stretch">
        <div>
          <img
            class="img"
            src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100"
          />
        </div>
        <div class="img-content" style=":hover {background: yellow}">
          Mobiles
        </div>
      </a>
    </div>

    <div fxFlex="5" style="text-align: center;cursor: pointer;">
      <a class="img" fxLayout="column" fxLayoutAlign="center stretch">
        <div>
          <img
            class="img"
            src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/d34810848b2895c9.png?q=100"
          />
        </div>
        <div class="img-content" style=":hover {background: yellow}">
          Fashion
        </div>
      </a>
    </div>

    <div fxFlex="5" style="text-align: center;cursor: pointer;">
      <a class="img" fxLayout="column" fxLayoutAlign="center stretch">
        <div>
          <img
            class="img"
            src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100"
          />
        </div>
        <div class="img-content" style=":hover {background: yellow}">
          Electronics
        </div>
      </a>
    </div>

    <div fxFlex="5" style="text-align: center;cursor: pointer;">
      <a class="img" fxLayout="column" fxLayoutAlign="center stretch">
        <div>
          <img
            class="img"
            src="https://rukminim1.flixcart.com/flap/128/128/image/ab7e2b022a4587dd.jpg?q=100"
          />
        </div>
        <div class="img-content" style=":hover {background: yellow}">Home</div>
      </a>
    </div>

    <div fxFlex="5" style="text-align: center;cursor: pointer;">
      <a class="img" fxLayout="column" fxLayoutAlign="center stretch">
        <div>
          <img
            class="img"
            src="https://rukminim1.flixcart.com/flap/128/128/image/0ff199d1bd27eb98.png?q=100"
          />
        </div>
        <div
          id="img-text"
          class="img-content"
          style=":hover {background: yellow}"
        >
          Appliances
        </div>
      </a>
    </div>

    <!-- <div fxFlex="10">
      <a
        href="https://www.flipkart.com/travel/flights?param=DTNavIcon&amp;fm=neo%2Fmerchandising&amp;iid=M_58dfecec-e83f-4884-a43b-85bd8c46c74d_1_372UD5BXDFYS_MC.V4ZPKTOAO321&amp;otracker=hp_rich_navigation_7_1.navigationCard.RICH_NAVIGATION_Travel_V4ZPKTOAO321&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_7_L0_view-all&amp;cid=V4ZPKTOAO321"
      >
        <div class="_1mkliO">
          <div class="CXW8mj" style="height: 64px; width: 64px;">
            <img
              loading="lazy"
              class="_396cs4"
              alt="Travel"
              src="https://rukminim1.flixcart.com/flap/128/128/image/71050627a56b4693.png?q=100"
            />
          </div>
        </div>
        <div class="xtXmba">Travel</div>
      </a>
    </div>
    <div fxFlex="10">
      <a
        href="https://www.flipkart.com/offers-list/content?screen=dynamic&amp;pk=themeViews%3DDOTD%3Aviewalldesktop~widgetType%3DdealCard~contentType%3Dneo&amp;wid=2.dealCard.OMU&amp;fm=neo%2Fmerchandising&amp;iid=M_58dfecec-e83f-4884-a43b-85bd8c46c74d_1_372UD5BXDFYS_MC.G6ZC4RAJ9OHU&amp;otracker=hp_rich_navigation_8_1.navigationCard.RICH_NAVIGATION_Top%2BOffers_G6ZC4RAJ9OHU&amp;otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_8_L0_view-all&amp;cid=G6ZC4RAJ9OHU"
      >
        <div class="_1mkliO">
          <div class="CXW8mj" style="height: 64px; width: 64px;">
            <img
              loading="lazy"
              class="_396cs4"
              alt="Top Offers"
              src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100"
            />
          </div>
        </div>
        <div class="xtXmba">Top Offers</div>
      </a>
    </div>
    <div fxFlex="10">
      <a>
        <div class="_1mkliO">
          <div class="CXW8mj" style="height: 64px; width: 64px;">
            <img
              loading="lazy"
              class="_396cs4"
              alt="Beauty, Toys &amp; More"
              src="https://rukminim1.flixcart.com/flap/128/128/image/dff3f7adcf3a90c6.png?q=100"
            />
          </div>
        </div>
        <div class="_1psGvi SLyWEo">
          <div>
            <div class="xtXmba">
              Beauty, Toys &amp; More
              <svg
                width="5"
                height="8"
                viewBox="0 0 16 27"
                xmlns="http://www.w3.org/2000/svg"
                class="_2sVfI7"
              >
                <path
                  d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"
                  fill="#fff"
                  class="_1zrN4q"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div fxFlex="10">
      <a>
        <div class="_1mkliO">
          <div class="CXW8mj" style="height: 64px; width: 64px;">
            <img
              loading="lazy"
              class="_396cs4"
              alt="Two Wheelers"
              src="https://rukminim1.flixcart.com/fk-p-flap/128/128/image/05d708653beff580.png?q=100"
            />
          </div>
        </div>
        <div class="_1psGvi SLyWEo">
          <div>
            <div class="xtXmba">
              Two Wheelers
              <svg
                width="5"
                height="8"
                viewBox="0 0 16 27"
                xmlns="http://www.w3.org/2000/svg"
                class="_2sVfI7"
              >
                <path
                  d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"
                  fill="#fff"
                  class="_1zrN4q"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </a>
    </div> -->
  </div>

  <mat-drawer-container
    fxFlex
    fxShow.sm
    fxShow.xs
    fxShow="false"
    autosize
    class="backround"
  >
    <mat-drawer #drawer>
      <div fxLayout="column">
        <button
          mat-button
          routerLink="/page1"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_1</mat-icon>Page 1
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page2"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_2</mat-icon>Page 2
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page3"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_3</mat-icon>Page 3
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page4"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_4</mat-icon>Page 4
        </button>
        <mat-divider></mat-divider>
        <button
          mat-button
          routerLink="/page5"
          routerLinkActive="selected no-border txt-bold"
          fxLayoutAlign="start"
          class="py-2 pr-5"
        >
          <mat-icon class="mr-2">filter_5</mat-icon>Page 5
        </button>
        <mat-divider></mat-divider>
      </div>
    </mat-drawer>

    <!--PAGES-->
    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>

  <div style="display: inline;">
    <router-outlet></router-outlet>
  </div>
</div>
