<!-- 
<div *ngFor="let product of products; let i = index">

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <img
            class="card-img-top"
            src="{{ product.image }}"
            alt="Card image cap"
          />
        </mat-card-content>

      </mat-card-header>
    </mat-card>
  </div>

</div> -->
<!-- 
<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="card-picture" *ngFor="let product of products">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{ product.title }}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="product.image" />
  </mat-card>
</div> -->

<!-- <mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="card-picture" *ngFor="let product of products">
    <mat-card-title fxLayout="column" fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="product.image" />
  </mat-card>
</div> -->
<!-- <mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="card-picture" *ngFor="let product of products">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{ product.title }}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="product.image" />
  </mat-card>
</div> -->

<!-- <div class="container">
  <div class="row product-list" style="margin: 1em 0;">
    <div
      class="col-sm-12 col-md-6 col-lg-4 product-list__item"
      *ngFor="let product of products; let i = index"
    >
      <div class="card mb-4 shadow-sm pd-5">
        <div class="product-list__image">
          <img
            style="width: 500px; height: 300px;;"
            class="card-img-top"
            src="{{ product.image }}"
            alt="Card image cap"
          />
        </div>

        <div style="height: 300px" class="card-body">
          <h4>{{ product.title }}</h4>
          <p class="card-text">{{ product.description }}</p>

          <div class="text-center">
            <button
              type="button"
              class="btn btn-sm"
              [ngClass]="
                this.isAdded[i] ? 'btn-success' : 'btn-outline-secondary'
              "
              (click)="addToCart($event, product.id)"
            >
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <ngb-carousel *ngIf="event_list">
        <ng-template ngbSlide *ngFor="let event of upcoming_events">
          <img
            style="width: 100%;object-fit: contain;"
            [src]="event.img"
            alt="Random slide"
          />
          <div class="carousel-caption">
            <h3>{{ event.eventLocation }}</h3>
            <p [innerText]="event.eventDescription"></p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 py-3">
      <h2 class="pb-2">Upcoming Offers</h2>
      <img
        stye="width: 100%;object-fit: contain;"
        [src]="upcoming_events[0].img"
        alt="Random slide"
      />
      <div class="carousel-caption">
        <h3>{{ upcoming_events[0].eventLocation }}</h3>
        <p [innerText]="upcoming_events[0].eventDescription"></p>
      </div>
    </div>
  </div>
</div> -->
