<!-- 
<div *ngFor="let product of products; let i = index">

  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <img
            class="card-img-top"
            src="{{ product.image }}"
            alt="Card image cap"
          />
        </mat-card-content>

      </mat-card-header>
    </mat-card>
  </div>

</div> -->
<!-- 
<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="card-picture" *ngFor="let product of products">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{ product.title }}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="product.image" />
  </mat-card>
</div> -->

<!-- <mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="card-picture" *ngFor="let product of products">
    <mat-card-title fxLayout="column" fxLayout.gt-xs="row" fxLayout.xs="column">
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="product.image" />
  </mat-card>
</div> -->
<!-- <mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text" />
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br />

<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="0.5%"
  fxLayoutAlign="center"
>
  <mat-card class="card-picture" *ngFor="let product of products">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{ product.title }}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="product.image" />
  </mat-card>
</div> -->
