<div class="container" fxLayout="column" fxLayoutGap="10">
  <div
    fxLayout="row"
    fxFlex="100"
    style="border: 1px solid;padding: 5px;border-width: unset;"
  >
    <div fxFlex="50">
      <div
        fxLayout="row"
        fxFlex="100"
        fxLayoutGap="20"
        style="align-items: center;"
      >
        <span> Filters: </span>

        <div fxFlex="10">
          <button mat-icon-button [matMenuTriggerFor]="availabilityMenu">
            <!-- pass local reference of mat-menu to be opened on this click -->
            <span class="font-style">Availability</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
      </div>
      <mat-menu #availabilityMenu="matMenu">
        <div fxLayout="column" fxLayoutGap="20">
          <div>
            <span style="margin-right:50px"> 0 Selected </span>
            <span>
              <a>Reset</a>
            </span>
          </div>

          <div>
            <div>In stock</div>
            <div>Out of stock</div>
          </div>
        </div>
      </mat-menu>
    </div>

    <div fxFlex="50" fxLayoutAlign="end">Filter:</div>

    <!-- <div style="margin-bottom: 10px;" *ngFor="let catItem of categoryTypes">
      <mat-expansion-panel [disabled]="catItem.subCategories.length == 0">
        <mat-expansion-panel-header>
          {{ catItem.name }}
        </mat-expansion-panel-header>

        <div
          fxLayout="column"
          fxLayoutGap="10"
          *ngFor="let subCat of catItem.subCategories"
        >
          <a> {{ subCat.name }} </a>
        </div>
      </mat-expansion-panel>
    </div> -->
  </div>

  <div fxFlex="100" style="border: 1px solid;padding: 5px;border-width: unset">
    <div class="row product-list" style="margin: 1em 0;">
      <div
        class="col-sm-12 col-md-6 col-lg-4 product-list__item"
        *ngFor="let product of products; let i = index"
      >
        <div class="card mb-4 shadow-sm pd-5">
          <div class="product-list__image">
            <img
              style="width: 500px; height: 300px;;"
              class="card-img-top"
              src="{{ product.image }}"
              alt="Card image cap"
            />
          </div>

          <div style="height: 300px" class="card-body">
            <h4>{{ product.title }}</h4>
            <p class="card-text">{{ product.description }}</p>
          </div>

          <div class="quantity">
            <span class="quantity-controls">
              <button
                class="button-color"
                (click)="UpdateCount(product.id, 'D')"
              >
                <i class="fa fa-minus" style="font-size:15px"></i>
              </button>
            </span>

            <span>
              <input
                type="number"
                id="quantity_643838e81176a"
                class="quantity-textbox"
                name="quantity"
                value="{{ product.quantity }}"
                title="Qty"
                size="4"
                min="0"
                max=""
                step="1"
                placeholder=""
                inputmode="numeric"
                autocomplete="off"
              />
            </span>
            <span class="quantity-controls">
              <button
                class="button-color"
                (click)="UpdateCount(product.id, 'I')"
              >
                <i class="fa fa-plus" style="font-size:15px"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
