// .product-list__item:hover {
//   transform: scale(1.5);
//   height: 30px;
// }

.quantity-controls {
  border: 1px solid blue;
  color: blue;
  /* font-size: 15px; */
  padding: 5px;
}

.quantity-textbox {
  border: 1px solid blue;
  padding: 5px;
}

// .quantity-textbox:hover {
//   border: none;
// }

.quantity-textbox:focus {
  border: none;
}

.button-color {
  color: blue;
}

.mat-menu-panel {
  background: white !important;
  border: 1px solid;
  border-width: unset;
}
